@charset "UTF-8";
main{
	margin:0 20%;
}
.register-inf{
	margin-right:60%;
	background-color: white;
	margin-top:20px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	padding-left:20px;
	padding-top:20px;
	padding-bottom:20px;
}
h1{
	font-size: 18px;
	padding-bottom:15px;
	text-decoration: underline;
}
