@charset "UTF-8";
main{
	margin: 0 35%;
}
table{
	margin:0 auto;
	border-spacing: 0 3px;
	border-collapse : separate ;
}
.register-container{
	background-color: white;
	border: 1px solid #cfcfcf;
	margin:20px 0 20px 0;
	padding:20px 20px 20px 20px;
}
h1{
	padding-bottom:20px;
	font-size: 18px;
}
th{
	text-align: left;
}
tr{
	border-spacing: 0 15px;
}
input{
	border:#51d993 1px solid;
}
.confirm{
	padding:10px 25px;
	text-align: center;
	background-color: #51d993;
	border-radius: 5px;
	color: white;
	border:none;
	font-weight: bold;
	display: block;
	margin: auto;
	margin-top:15px;
}